.banner{
    width: 100%;
    height: 600px;
    background-color: aqua;
    
}
.first_slide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.slide_details{
    width: 50%;
    text-align: start;
    overflow: hidden;
    float: left;
    position: relative;
    animation-name: left_site;
    animation-duration: 2s;
    animation-direction: reverse;
}
@keyframes left_site {
    from{
        top: 0px;
        left:0px;
    }
    to{
        top: 0px;
        left: -600px;
    }
}

.slide-img{
    overflow: hidden;
    float: left;
    position: relative;
    animation-name: right_site;
    animation-duration: 2s;
    animation-direction: reverse;

}
@keyframes right_site {
    from{
     
        bottom: 0px;
        right: 0px;
    }
    to{
        bottom: 0px;
        right: -600px;
    }  
}

.slide_details h1{
    font-size: 50px;
}
.slide_details span{
    color: crimson;
}

.slide_details button{
    padding: 10px;
    width: 150px;
    background: crimson;
    color: aliceblue;
    border: none;
    border-radius: 5px;
}

@media only screen and (min-width:320px) and (max-width:688px){
    .banner{
        background-color: cornflowerblue;
        height: 80vh;
    }
    .first_slide{
        display: block;
        width: 100%;
        padding: 0 50px;
        
    }
    .slide_details{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
      .slide_details h1{
        font-size: 30px;
      }
      .slide-img{
    padding: 0 50px;
}
  }
  @media only screen and (min-width:688px) and (max-width:992px){
     .banner{
        background-color: cornflowerblue;
    }
    .first_slide{
        display: block;
        width: 100%;
        padding: 0 50px;
        
    }
    .slide_details{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
      .slide_details h1{
        font-size: 30px;
      }
      .slide-img{
    padding: 0 50px;
}
  }