.dashboard-common-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}
.profile-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 10px;
}
.profile-child {
  border: 1px solid rgb(219, 214, 214);
}
.dashboard-navbar-bg {
  background-color: #03203c !important;
}
.dashboard-navlinks {
  display: block !important;
  margin: 0 auto !important;
}
.menu-icon {
  display: none !important;
}
.container-table-headers {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
}
.container-table-data {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
}
@media screen and (max-width: 980px) {
  .container-table-data {
    grid-template-columns: 1fr;
    margin: 10px 0px;
  }
  .avatar-user {
    margin: 0 auto !important;
  }
}
@media screen and (max-width: 767px) {
  .dashboard-common-container {
    grid-template-columns: 1fr;
  }
  .profile-container {
    grid-template-columns: 1fr;
  }
  .menu-icon {
    display: block !important;
  }
}
