* {
  margin: 0;
  padding: 0;
}
/* ---------------------navbar css ------------ */
.navbar-bg {
  background-color: #03203c !important;
  padding: 12px 0;
}
/* .search {
  background-color: red !important;
} */
.navLinks div {
}
.offer-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
