.product_card{
    height: 350px;
    position: relative;
}
.card-img img{
    height: 200px;
}
.btn_more{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}